{% extends "layout.html" %}

{% block title %}{{ crypto }}{% endblock %}

{% block content %}
<h1>{{ crypto }}</h1>
<h2>Preço atual: {{ preco | usd }}</h2>
{% if session.get("id_usuario") %}
    <a href="/buy/{{ crypto }}" class="link">Comprar Criptomoeda</a>
    <br>
{% else %}
    <p>Para comprar criptomoedas e simular investimentos...</p>
    <p><a href="/login" class="link">Faça login</a> ou <a href="/register" class="link">Registre-se</a></p><br>
{% endif %}

<div class="dashboard">
    <div class="card" id="principal">
        <h3>Preço atual</h3>
        <p>{{ preco | usd }}</p>
    </div>

    <div class="card">
        <h3>Maior preço nos últimos 30 dias</h3>
        <p>{{ max_preco | usd }}</p>
    </div>

    <div class="card">
        <h3>Menor preço nos últimos 30 dias</h3>
        <p>{{ min_preco | usd }}</p>
    </div>
</div>

<div class="chart-container">
    <canvas id="grafico_precos"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const historia = {{ historico | tojson }};
    const nomeCrypto = "{{ crypto }}";
</script>

<script src="/static/chart.js"></script>

{% endblock %}
