{% extends "layout.html" %}

{% block title %}Início{% endblock %}

{% block content %}
<h2>Bem-vindo, {{ session.get("nm_usuario") }}!</h2>
<p>Clique na criptomoeda para ver mais detalhes.</p>

{% if mensagem != "" %}
    <p>{{ mensagem }}</p>
    <p>Para realizar uma compra, explore nosso <a href="/market" class="link">mercado</a> :)</p>
{% else %}
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>Criptomoeda</th>
                    <th>Total de cryptos</th>
                    <th>Preco unitário</th>
                    <th>Valor total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for crypto in portfolio %}
                <tr>
                    <td><a href="/market/{{ crypto['nm_crypto'] }}" class="link">{{ crypto["nm_crypto"] }}</a></td>
                    <td>{{ "{:,.5f}".format(crypto["qt_compras"]).rstrip('0').rstrip('.') }}</td>
                    <td>{{ crypto["preco"] | usd }}</td>
                    <td>{{ crypto["valor_total"] | usd }}</td>
                    <th><a href="/sell/{{ crypto['nm_crypto'] }}" class="link">Vender</a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<h3>Saldo disponível: {{ dinheiro | usd }}</h3>
<h3>Total de dinheiro: {{ total | usd }}</h3>
{% endblock %}
