{% extends "layout.html" %}

{% block title %}Início{% endblock %}

{% block content %}
<h2>Portfolio</h2>

{% if mensagem != "" %}
    <p>{{ mensagem }}</p>
{% else %}
<table class="table">
    <thead>
        <tr>
            <th>Criptomoeda</th>
            <th>Total de cyptos</th>
            <th>Preco unitário</th>
            <th>Valor total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for crypto in portfolio %}
        <tr>
            <td>{{ crypto["nm_crypto"] }}</td>
            <td>{{ crypto["qt_compras"] }}</td>
            <td>{{ crypto["preco"] | usd }}</td>
            <td>{{ crypto["valor_total"] | usd }}</td>
            <th><a href="/sell/{{ crypto['nm_crypto'] }}" class="link">Vender</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<h3>Saldo disponível: {{ dinheiro | usd }}</h3>
<h3>Total de dinheiro: {{ total | usd }}</h3>
{% endblock %}
