<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico">
    
    <title>crypto.check - {% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="/" class="navbar-brand"><img src="/static/favicon.ico" alt="Logo" class="navbar-icon"> crypto.check</a>
            <ul class="navbar-nav">
                {% if session.get("id_usuario") %}
                    <li class="nav-item" id="left"><a href="/" class="nav-link">Início</a></li>
                    <li class="nav-item" id="left"><a href="/history" class="nav-link">Histórico</a></li>
                    <li class="nav-item" id="left"><a href="/market" class="nav-link">Mercado</a></li>
                    <li class="nav-item" id="right" class="nav-link">Login: {{ session.get("nm_usuario") }}</li>
                    <li class="nav-item" id="right"><a href="/logout" class="nav-link">Fazer logout</a></li>
                {% else %}
                    <li class="nav-item" id="right"><a href="/register" class="nav-link">Registrar</a></li>
                    <li class="nav-item" id="right"><a href="/login" class="nav-link">Fazer login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main class="main">
        {% block content %}{% endblock %}
    </main>
    
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2026 crypto.check</p>
            
            <div class="contact-section">
                <h3>Contato do autor</h3>
                <ul class="contact-links">
                    <li><a href="mailto:zobolidiogo@gmail.com" title="Email">Email</a></li>
                    <li><a href="https://linkedin.com/in/zobolidiogo" target="_blank" title="LinkedIn">LinkedIn</a></li>
                    <li><a href="https://wa.me/5547988297586" target="_blank" title="WhatsApp">WhatsApp</a></li>
                    <li><a href="https://github.com/zobolidiogo" target="_blank" title="GitHub">GitHub</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>