{% extends "layout.html" %}

{% block title %}Fazer login{% endblock %}

{% block content %}
    <form action="/login" method="post">
        {% if mensagem %}
            <p class="form-error"><i class="bi bi-exclamation-circle"></i>{{ mensagem }}</p>
            <br>
        {% endif %}
        <div>
            <input autocomplete="off" autofocus name="usuario" placeholder="Nome de Usuário" type="text" value="{{ usuario if usuario else '' }}">
        </div>
        <div>
            <input name="senha" placeholder="Senha" type="password">
        </div>
        <button type="submit">Fazer login</button>
    </form>
    <br>
    <p>Não tem uma conta? <a href="/register" class="ask-link">Registrar-se</a></p>
{% endblock %}
