{% extends "layout.html" %}

{% block title %}Mercado{% endblock %}

{% block content %}
    {% if session.get("id_usuario") %}
        <h2>Bem-vindo, {{ session["nm_display"] }}!</h2>
        <p>Aqui estão as criptomoedas disponíveis para compra. Clique em "Mais detalhes" para ver informações adicionais e gráficos de preços.</p>
        <br>
    {% else %}
        <h2>Bem-vindo ao Mercado de Criptomoedas!</h2>
        <p>Para acessar mais funcionalidades...</p>
        <p><a href="/login" class="link">Faça login</a> ou <a href="/register" class="link">Registre-se</a></p>
        <br>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preco unitário</th>
                <th>Mais detalhes</th>
            </tr>
        </thead>
        <tbody>
            {% for crypto in estoques %}
                <tr>
                    <td>{{ crypto["nome"] | primeira_letra_maiuscula }}</td>
                    <td>{{ crypto["preco"] | usd }}</td>
                    <td>
                        <a href="/market/{{ crypto['nome'] }}" class="link">
                            Mais detalhes
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
