{% extends "layout.html" %}

{% block title %}Registrar{% endblock %}

{% block content %}
    <form action="/register" method="post">
        <div>
            <input autocomplete="off" autofocus name="usuario" placeholder="Nome de Usuário" type="text">
        </div>
        <div>
            <input name="senha" placeholder="Senha" type="password">
        </div>
        <div>
            <input name="confirmacao" placeholder="Confirmar Senha" type="password">
        </div>
        <button type="submit">Registrar</button>
    </form>
{% endblock %}
