{% extends "layout.html" %}

{% block title %}Registrar{% endblock %}

{% block content %}
    <form action="/register" method="post">
        {% if mensagem %}
            <p class="form-error"><i class="bi bi-exclamation-circle"></i> {{ mensagem }}</p>
            <br>
        {% endif %}
        <div>
            <input autocomplete="off" autofocus name="nome_display" placeholder="Como gostaria de ser chamado?" type="text" value="{{ nome_display if nome_display else '' }}">
        </div>
        <div>
            <input autocomplete="off" autofocus name="usuario" placeholder="Nome de Usuário" type="text" value="{{ usuario if usuario else '' }}">
        </div>
        <div>
            <input name="senha" placeholder="Senha" type="password">
        </div>
        <div>
            <input name="confirmacao" placeholder="Confirmar Senha" type="password">
        </div>

        <button type="submit">Registrar</button>
    </form>
    <br>
    <p>Já tem uma conta? <a href="/login" class="ask-link">Faça login</a></p>
{% endblock %}
