{% extends "layout.html" %}

{% block title %}Registrar{% endblock %}

{% block content %}
    <form action="/register" method="post">
        <div>
            <input autocomplete="off" autofocus name="usuario" placeholder="Nome de Usuário" type="text">
        </div>
        <div>
            <input name="senha" placeholder="Senha" type="password">
        </div>
        <div>
            <input name="confirmacao" placeholder="Confirmar Senha" type="password">
        </div>
        <br>
        <p>A senha deve possuir entre 6-10 caracteres (sem símbolos) com:</p>
        <ul>
            <li>Pelo menos uma letra maiúscula</li>
            <li>Pelo menos uma letra minúscula</li>
            <li>Pelo menos um número</li>
        </ul>
        <br>

        <button type="submit">Registrar</button>
    </form>
{% endblock %}
