{% extends "layout.html" %}

{% block title %}Vender {{ crypto }}{% endblock %}

{% block content %}
<h1>Vender {{ crypto }}</h1>
<p>Preço atual: {{ preco | usd }}</p>
<br>
<p> Você possui {{ "{:,.5f}".format(quantidade_possui).rstrip('0').rstrip('.') }} {{ crypto }}.</p>

<form action="/sell/{{ crypto }}" method="post">
    <div class="formulario">
        <input type="number" autofocus class="pergunta" id="quantidade" name="quantidade_venda" min="0.00001" step="0.00001" placeholder="Quantidade a vender" data-preco="{{ preco }}">
    </div>
    <button type="submit">Vender</button>
</form>
<br>
<p id="total"></p>

<script src="/static/trade.js"></script>

{% endblock %}
